
export CONSUL_HTTP_ADDR=https://94.130.72.11:8501
export CONSUL_HTTP_TOKEN=cb85a3e2-b540-2a33-931a-d98b631da962
export CONSUL_HTTP_SSL=true
export CONSUL_HTTP_SSL_VERIFY=false
export CONSUL_CLIENT_CERT=config/secrets/consul/consul-agent-ca.pem
export CONSUL_CLIENT_KEY=config/secrets/consul/consul-agent-ca-key.pem

export VAULT_ADDR=https://157.90.31.71:8200
export VAULT_SKIP_VERIFY=true
	
export NOMAD_ADDR=https://94.130.72.11:4646
export NOMAD_CACERT=config/secrets/nomad/nomad-ca.pem
export NOMAD_CLIENT_CERT=config/secrets/nomad/client.pem
export NOMAD_CLIENT_KEY=config/secrets/nomad/client-key.pem	
